<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  metadata-complete="true"
  id="java-oauth-server"
  version="3.0">

  <listener>
    <listener-class>com.authlete.jaxrs.server.core.AppContextListener</listener-class>
  </listener>

  <listener>
    <listener-class>com.authlete.jaxrs.server.core.SessionTracker</listener-class>
  </listener>

  <filter>
    <filter-name>API</filter-name>

    <filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>

    <init-param>
      <param-name>jersey.config.disableAutoDiscovery</param-name>
      <param-value>true</param-value>
    </init-param>

    <init-param>
      <param-name>jersey.config.disableMetainfServicesLookup</param-name>
      <param-value>true</param-value>
    </init-param>

    <init-param>
      <param-name>jersey.config.server.provider.classnames</param-name>
      <param-value>
        com.authlete.jaxrs.server.api.AppleAppSiteAssociation,
        com.authlete.jaxrs.server.api.AuthorizationDecisionEndpoint,
        com.authlete.jaxrs.server.api.AuthorizationEndpoint,
        com.authlete.jaxrs.server.api.vci.BatchCredentialEndpoint,
        com.authlete.jaxrs.server.api.vci.CredentialEndpoint,
        com.authlete.jaxrs.server.api.vci.CredentialMetadataEndpoint,
        com.authlete.jaxrs.server.api.vci.CredentialJwtIssuerEndpoint,
        com.authlete.jaxrs.server.api.vci.DeferredCredentialEndpoint,
        com.authlete.jaxrs.server.api.vci.CredentialOfferEndpoint,
        com.authlete.jaxrs.server.api.vci.CredentialOfferIssueEndpoint,
        com.authlete.jaxrs.server.api.vci.CredentialJWKSetEndpoint,
        com.authlete.jaxrs.server.api.ClientRegistrationEndpoint,
        com.authlete.jaxrs.server.api.ConfigurationEndpoint,
        com.authlete.jaxrs.server.api.FederationConfigurationEndpoint,
        com.authlete.jaxrs.server.api.FederationEndpoint,
        com.authlete.jaxrs.server.api.FederationRegistrationEndpoint,
        com.authlete.jaxrs.server.api.GrantManagementEndpoint,
        com.authlete.jaxrs.server.api.IntrospectionEndpoint,
        com.authlete.jaxrs.server.api.JwksEndpoint,
        com.authlete.jaxrs.server.api.PushedAuthReqEndpoint,
        com.authlete.jaxrs.server.api.RevocationEndpoint,
        com.authlete.jaxrs.server.api.TestEndpoint,
        com.authlete.jaxrs.server.api.TokenEndpoint,
        com.authlete.jaxrs.server.api.UserInfoEndpoint,
        com.authlete.jaxrs.server.api.backchannel.BackchannelAuthenticationCallbackEndpoint,
        com.authlete.jaxrs.server.api.backchannel.BackchannelAuthenticationEndpoint,
        com.authlete.jaxrs.server.api.device.DeviceAuthorizationEndpoint,
        com.authlete.jaxrs.server.api.device.DeviceCompleteEndpoint,
        com.authlete.jaxrs.server.api.device.DeviceVerificationEndpoint,
        com.authlete.jaxrs.server.api.obb.AccountsEndpoint,
        com.authlete.jaxrs.server.api.obb.FAPI2BaseAccountsEndpoint,
        com.authlete.jaxrs.server.api.obb.ConsentsEndpoint,
        com.authlete.jaxrs.server.api.obb.ResourcesEndpoint,
        org.glassfish.jersey.moxy.json.MoxyJsonFeature,
        org.glassfish.jersey.server.mvc.jsp.JspMvcFeature
      </param-value>
    </init-param>

    <init-param>
        <param-name>jersey.config.server.response.setStatusOverSendError</param-name>
        <param-value>true</param-value>
    </init-param>

    <init-param>
        <param-name>jersey.config.servlet.filter.forwardOn404</param-name>
        <param-value>false</param-value>
    </init-param>

    <init-param>
        <param-name>jersey.config.server.mvc.templateBasePath.jsp</param-name>
        <param-value>/WEB-INF/template</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>API</filter-name>
    <url-pattern>/api/*</url-pattern>
    <url-pattern>/.well-known/oauth-authorization-server</url-pattern>
    <url-pattern>/.well-known/openid-configuration</url-pattern>
    <url-pattern>/.well-known/openid-credential-issuer</url-pattern>
    <url-pattern>/.well-known/openid-federation</url-pattern>
    <url-pattern>/.well-known/jwt-issuer</url-pattern>
    <url-pattern>/.well-known/jwt-vc-issuer</url-pattern>
    <url-pattern>/.well-known/apple-app-site-association</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
